.img-fluid{
	height: 120px;
	/* margin-left: 10%; */
	/* width: 200px; */
	/* text-align: center; */
	margin: auto;
}
.img-box{
	text-align: center;
float: center;

}
.container{
	background-color: white!important;
}
.trend {
	text-align: left;
	margin-top: 5px;
}
.trend h6{
    color:grey;
}
.text-right{
    margin-left: auto;
    margin-top: 20px;
}

.row{
	width:1200px;
	padding-left: 0px!important;
	
}

.container{
	margin-left: 50px;
    margin-right: 0px;
    padding-left: 0px;
	padding-right: 0px;
	width: 1290px;
}
.carousel-inner{
	/* width: 1290px; */
}
/* small{
    text-align: left;
} */