<div class="row">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h1 class="modal-title">Log In</h1>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" [formGroup]="form"  (submit)="onSignin()" >
                    <div class="row form-group">
                        <label class="col-md-2 control-label" for="exampleInputEmail1">Email</label>
                        
                        <div class="col-md-8">

                        <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                        <small id="emailHelp" class="form-text text-muted my">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-2 control-label" for="exampleInputPassword1">Password</label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" formControlName="password" placeholder="Password">
                    </div>
                </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-primary">
                                Sign In
                            </button>
                            <a class="btn btn-link" href="">
                                Forgot Your Password?
                            </a>
                            <p *ngIf="check == false" class="errormessage">Sorry, wrong credentials entered. Try Again!</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
       
    </div>

</div>