<div class="sticky">
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <a class="navbar-brand" routerLink="/home">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;
              <b>Shopping Arena</b>
      </a>
      <div class="search">
          <div id='search' class="input-group mb-3">
              <input [(ngModel)]='listFilter' name ="search" type="text" class="form-control" placeholder="Search Products & more">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"><a (click)="onSearch()" ><i class="fa fa-search " aria-hidden="true"></i></a></span>
              </div>
            
            </div>
      </div>
      <div class="signin " >
          <a routerLink="/login" *ngIf="!signedin"> 
              <i class="fa fa-sign-in" aria-hidden="true"></i> &nbsp;
                  <b>Log In</b>
          </a>
          <a routerLink="/login" *ngIf="signedin" (click)="onclick()"> 
            <i class="fa fa-sign-in" aria-hidden="true"></i> &nbsp;
                <b>Sign Out</b>
        </a>
&nbsp;&nbsp;&nbsp;
          <a routerLink="/cart"> 
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> &nbsp;
                  <b>Cart</b>
          </a>
      </div>
    </nav>
  </div>
