
<div class="container">
  <div class="row">
    <div class="col-md-8">
<div class="card">
    <div class="card-header">My Cart</div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">CONTINUE SHOPPING</a>      
      <a href="#" class="btn btn-primary">PLACE ORDER</a>
    </div>
  </div>
</div>

<div class="col-md-4">

    <div class="card">
        <div class="card-header">Price Details</div>
        <div class="card-body">
          <div class="row">
            <div>Price (2 items)</div>
            <div class="right">Rs 2100</div>
          </div>
          <div class="row">
              <div>Delivery Charges</div>
              <div class="right">FREE</div>
            </div>
            <div class="row">
                <div>Amount Payable</div>
                <div class="right">Rs 2100</div>
              </div>
         
        </div>
      </div>

</div>
</div>
</div>