<!-- 
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"> 
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card-group">
                <div class="card">
                <a routerLink="/userhome">
                  <img class="card-img-top" src="/src/assets/poco.jpeg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Poco F1</h5>
                    <p class="card-text">Upto 2000 Off</p>
                    <p class="card-text"><mdall class="text-muted">From 21000</mdall></p>
                  </div>
                  </a>
                </div>
                <div class="card">
                <a routerLink="/userhome">
                  <img class="card-img-top" src="/src/assets/shoes.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Shoes</h5>
                    <p class="card-text">Upto 2000 Off</p>
                    <p class="card-text"><mdall class="text-muted">From 21000</mdall></p>
                  </div>
                </a>
                </div>
                <div class="card text-center">
                <a routerLink="/userhome">
                  <img class="card-img-top" src="/src/assets/tv.jpeg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Mi LED TV</h5>
                    <p class="card-text">Upto 2000 Off</p>
                    <p class="card-text"><mdall class="text-muted">From 21000</mdall></p>
                  </div>
                  </a>
                </div>
                <div class="card">
                <a routerLink="/userhome">
                    <img class="card-img-top" src="/src/assets/tv.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Mi LED TV</h5>
                      <p class="card-text">Upto 2000 Off</p>
                      <p class="card-text"><mdall class="text-muted">From 21000</mdall></p>
                    </div>
                    </a>
                  </div>
              </div>
        </div>
        <div class="carousel-item">
            <div class="card-group">
                <div class="card">
                <a routerLink="/userhome">
                  <img class="card-img-top" src="/src/assets/poco.jpeg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Poco F1</h5>
                    <p class="card-text">Upto 2000 Off</p>
                    <p class="card-text"><mdall class="text-muted">From 21000</mdall></p>
                  </div>
                  </a>
                </div>
                <div class="card">
                <a routerLink="/userhome">
                  <img class="card-img-top" src="/src/assets/shoes.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Shoes</h5>
                    <p class="card-text">Upto 2000 Off</p>
                    <p class="card-text"><mdall class="text-muted">From 21000</mdall></p>
                  </div>
                </a>
                </div>
                <div class="card text-center">
                <a routerLink="/userhome">
                  <img class="card-img-top" src="/src/assets/tv.jpeg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Mi LED TV</h5>
                    <p class="card-text">Upto 2000 Off</p>
                    <p class="card-text"><mdall class="text-muted">From 21000</mdall></p>
                  </div>
                  </a>
                </div>
                <div class="card">
                <a routerLink="/userhome">
                    <img class="card-img-top" src="/src/assets/tv.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Mi LED TV</h5>
                      <p class="card-text">Upto 2000 Off</p>
                      <p class="card-text"><mdall class="text-muted">From 21000</mdall></p>
                    </div>
                    </a>
                  </div>
            </div>
        </div>
        <div class="carousel-item">
                <div class="card-group">
                    <div class="card">
                    <a routerLink="/userhome">
                      <img class="card-img-top" src="/src/assets/poco.jpeg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Poco F1</h5>
                        <p class="card-text">Upto 2000 Off</p>
                        <p class="card-text"><mdall class="text-muted">From 21000</mdall></p>
                      </div>
                      </a>
                    </div>
                    <div class="card">
                    <a routerLink="/userhome">
                      <img class="card-img-top" src="/src/assets/shoes.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Shoes</h5>
                        <p class="card-text">Upto 2000 Off</p>
                        <p class="card-text"><mdall class="text-muted">From 21000</mdall></p>
                      </div>
                    </a>
                    </div>
                    <div class="card text-center">
                    <a routerLink="/userhome">
                      <img class="card-img-top" src="/src/assets/tv.jpeg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Mi LED TV</h5>
                        <p class="card-text">Upto 2000 Off</p>
                        <p class="card-text"><mdall class="text-muted">From 21000</mdall></p>
                      </div>
                      </a>
                    </div>
                    <div class="card">
                    <a routerLink="/userhome">
                        <img class="card-img-top" src="/src/assets/tv.jpeg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Mi LED TV</h5>
                          <p class="card-text">Upto 2000 Off</p>
                          <p class="card-text"><mdall class="text-muted">From 21000</mdall></p>
                        </div>
                        </a>
                      </div>
                    </div>
      </div>
      <div class="carousel-indicators">
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div> 

</div>  -->



<!-- <div class="row">
    <div class="container text-center">
        
      <div class="card text-center">
        <div class="card-header">
          <h2>Register Now</h2>
        </div>
      <div class="card-body text-center">
      <form  class="form-horizontal" (ngSubmit)="onSignup(f)" #f="ngForm">
         
        <div class="row form-group">
              <label  class="col-md-2 control-label" for="name">Name</label>
              <div class="col-md-8">
                <input type="name" id="name" name="name" ngModel class="form-control">
           
              </div>

          </div>
            <div class="row form-group">
                <label   class="col-md-2 control-label" for="email">Mail</label>
                <div class="col-md-8">
                <input type="email" id="email" name="email" ngModel class="form-control">
              </div>
            </div>
            <div class="row form-group">
                <label  class="col-md-2 control-label" for="contact">Contact</label>
                <div class="col-md-8">
                <input type="contact" id="contact" name="contact" ngModel class="form-control">
              </div>
            </div>
            <div class="row form-group">
                <label  class="col-md-2 control-label" for="password">Password</label>
                <div class="col-md-8">
                <input type="password" id="password" name="password" ngModel class="form-control">
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </form>
        </div>
      </div>
    </div>
</div> -->