<!-- The grid: four columns -->
<div class="container" *ngIf="spin">
    <mat-spinner></mat-spinner>

</div>
<div class="container" *ngIf="!spin">
  <div class="container-fluid">
    <div class="row" style="width:250px">
      <div class="col-md-4">
        <div class="row">
            <div class="img-box">
          <img src="/src/assets/ipad.jpg" class="img-fluid" alt="Nature" onclick="openImg(this);">
             </div>
        </div>
        <div class="row">
            <div class="img-box">
          <img src="/src/assets/poco.jpeg" id="poco" class="img-fluid"  alt="Nature" onclick="openImg(this);">
             </div>
        </div>
        <div class="row">
            <div class="img-box">
          <img src="/src/assets/ipad.jpg" class="img-fluid"  alt="Nature" onclick="openImg(this);">
             </div>
        </div>
        <div class="row">
            <div class="img-box">
          <img src="/src/assets/ipad.jpg" class="img-fluid" alt="Nature" onclick="openImg(this);">
             </div>
        </div>
      </div>

      <!-- The expanding image container -->
      <div class="col-md-4">
       

        <!-- Expanded image -->
        <img id="expandedImg" src="/src/assets/ipad.jpg">
        <div *ngFor="let product of products | async">
        <button class="btn btn-primary" (click)="addToCart(product.id)">Add to Cart</button>
      </div>

       
      </div>
      <div class="col-md-2">
      <!-- <ul class="name"> -->
          
        <div class="text name" *ngFor="let product of products | async">
            <h2 style="width: 150px;">{{product.name}}</h2>
            <br>
            <div><h5 style="height: 34px;width: 140px;">Rs 4,000</h5></div>
          </div>
        <!-- </ul> -->
      </div>
    </div>

  </div>

</div>


<!-- 
<ul>
  <li class="text" *ngFor="let product of products | async">
    {{product.name}}
  </li>
</ul>
<ul>
  <li class="text" *ngFor="let product of products | async">
    {{product.name}}
  </li>
</ul> -->